@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap'); */




/* Qc Fix  */
.checkbox-label-container {
  display: flex;
  align-items: center; /* Vertically center the items */
  gap: 10px;
}

h2 {
  
  font-size: 24px !important;
  font-family: Nunito, sans-serif !important;
color: #000000 !important;
text-transform: none !important;
font-weight: 600;
}
h3{
  font-size: 20px !important;
  font-family: Nunito, sans-serif !important;
color: #000000 !important;
font-weight: 600;

}

h4 {
  
  font-size: 24px !important;
  font-family: Nunito, sans-serif !important;
}
label{
  
  font-size: 16px !important;
  font-family: lato, sans-serif !important;
  color: #797f89 !important;
/* margin-bottom: 10px !important; */

}
#labeltext{
  font-size: 16px !important;
  font-family: lato, sans-serif !important;
  color: #797f89 !important;
  font-weight: 600;
/* margin-bottom: 10px; */

 
}
select{
  color: #9f9f9f;
  font-size: 15px !important;
  font-family: lato, sans-serif !important;

}
#inputplaceholder::placeholder{
  color: #9f9f9f;
  font-size: 15px !important;
  font-family: lato, sans-serif !important;
  font-weight: 600;
}
input, select, textarea{
 
  outline: none !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  height: 45px !important;
  line-height: 1.2 !important;
  padding: 5px 12px !important;
  border-color: #e7e7e7 !important;
}

.no-scroll{
  overflow: hidden;
  background-color: #f6f6f6 !important;
}

/* Qc Fix  */
@media (max-width: 767px) {
  /* Styles for mobile devices */
  form {
    border: 2px solid white !important;
    width: 80%;
    height: auto;
   
    /* background-color: rgba(255, 255, 255, 0.218); */
    background-color: white;
border-radius: 8px;
    height: auto;
    padding: 25px;
    
    box-shadow: 0 0 20px #f0f0f0;
  }

  form label {
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
    /* border: 2px solid red; */
    width: 40%;
  }

  form textarea {
    padding: 10px;
    border-radius: 5px;
    /* border: transparent; */
    font-size: 16px;
    text-transform: capitalize;
    resize: none;
  }

  .form-review {
    /* border: 2px solid red; */
    margin-bottom: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  form button {
    cursor: pointer;
    color: #ffffff !important;
    padding: 10px 16px !important;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #00c194 !important;
    background-color: #00c194;
  }

  form button:hover {
    background-color: white !important;
    color: #00c194 !important;
    transition: all 0.2s ease-in-out;
    border: 1px solid #00c194 !important;

  }
  input, select, textarea{
 
    outline: none !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    height: 45px !important;
    line-height: 1.2 !important;
    padding: 5px 12px !important;
    border-color: #e7e7e7 !important;
  }
  h2 {
  
    font-size: 24px !important;
    font-family: Nunito, sans-serif !important;
  color: #000000 !important;
  text-transform: none !important;
  font-weight: 600;
  }
  h3{
    font-size: 20px !important;
    font-family: Nunito, sans-serif !important;
  color: #000000 !important;
  font-weight: 600;
  
  }
  
  h4 {
    
    font-size: 24px !important;
    font-family: Nunito, sans-serif !important;
  }
  label{
    
    font-size: 16px !important;
    font-family: lato, sans-serif !important;
    color: #797f89 !important;
  /* margin-bottom: 10px !important; */
  
  }
  #labeltext{
    font-size: 16px !important;
    font-family: lato, sans-serif !important;
    color: #797f89 !important;
    font-weight: 600;
  /* margin-bottom: 10px; */
  
   
  }
  select{
    color: #9f9f9f;
    font-size: 15px !important;
    font-family: lato, sans-serif !important;
  
  }
  #inputplaceholder::placeholder{
    color: #9f9f9f;
    font-size: 15px !important;
    font-family: lato, sans-serif !important;
    font-weight: 600;
  }
  input, select, textarea{
 
    outline: none !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    height: 45px !important;
    line-height: 1.2 !important;
    padding: 5px 12px !important;
    border-color: #e7e7e7 !important;
  }
  
  .no-scroll{
    overflow: hidden;
    background-color: #f6f6f6 !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  form {
    border: 2px solid white !important;
    width: 80%;
    height: auto;
   
    /* background-color: rgba(255, 255, 255, 0.218); */
    background-color: white;
border-radius: 8px;
    height: auto;
    padding: 25px;
    
    box-shadow: 0 0 20px #f0f0f0;
  }

  form label {
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
    /* border: 2px solid red; */
    width: 40%;
  }

  form textarea {
    padding: 10px;
    border-radius: 5px;
    /* border: transparent; */
    font-size: 16px;
    text-transform: capitalize;
    resize: none;
  }

  .form-review {
    /* border: 2px solid red; */
    margin-bottom: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  form button {
    cursor: pointer;
    color: #ffffff !important;
    padding: 10px 16px !important;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #00c194 !important;
    background-color: #00c194;
  }

  form button:hover {
    background-color: white !important;
    color: #00c194 !important;
    transition: all 0.2s ease-in-out;
    border: 1px solid #00c194 !important;

  }
  h2 {
  
    font-size: 24px !important;
    font-family: Nunito, sans-serif !important;
  color: #000000 !important;
  text-transform: none !important;
  font-weight: 600;
  }
  h3{
    font-size: 20px !important;
    font-family: Nunito, sans-serif !important;
  color: #000000 !important;
  font-weight: 600;
  
  }
  
  h4 {
    
    font-size: 24px !important;
    font-family: Nunito, sans-serif !important;
  }
  label{
    
    font-size: 16px !important;
    font-family: lato, sans-serif !important;
    color: #797f89 !important;
  /* margin-bottom: 10px !important; */
  
  }
  #labeltext{
    font-size: 16px !important;
    font-family: lato, sans-serif !important;
    color: #797f89 !important;
    font-weight: 600;
  /* margin-bottom: 10px; */
  
   
  }
  select{
    color: #9f9f9f;
    font-size: 15px !important;
    font-family: lato, sans-serif !important;
  
  }
  #inputplaceholder::placeholder{
    color: #9f9f9f;
    font-size: 15px !important;
    font-family: lato, sans-serif !important;
    font-weight: 600;
  }
  
  
  .no-scroll{
    overflow: hidden;
    background-color: #f6f6f6 !important;
  }
}
body {
  --sb-track-color: #acbec6;
  --sb-thumb-color: #383838;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

.edit-text {
  --sb-track-color: #232E33;
  --sb-thumb-color: #ff0000;
  --sb-size: 2px;
}

.edit-text::-webkit-scrollbar {
  width: var(--sb-size);
}

.edit-text::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.edit-text::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .edit-text {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

@supports not selector(::-webkit-scrollbar) {
  .edit-text {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.form-left {
  --sb-track-color: #c0c0c0;
  --sb-thumb-color: #000000;
  --sb-size: 7px;
}

.form-left::-webkit-scrollbar {
  width: var(--sb-size);
}

.form-left::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

.form-left::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .form-left {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    /* font-size: 26px; */
}

/* mobile viewport */
/* @media screen and (max-width: 768px) {
  .reviews {
    border: 2px solid greenyellow;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
  }

  form {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.218);
    padding: 20px 20px;
    height: auto;
  }

  form label {
    color: gray;
    font-size: 18px;
    width: 30%;
    text-transform: capitalize;
    font-weight: bold;
  }

  form textarea {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: capitalize;
  }

  .form-review {
    margin-bottom: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .btn-submit button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.412);
    color: white;
    font-weight: bold;
  }

  .btn-submit button:hover {
    background-color: rgb(0, 176, 0);
    color: white;
    transition: all 0.2s ease-in-out;
  }

  .btn-submit {
    display: flex;
    margin-top: 20px;
  }

  .popup-result{
    display: flex;
    align-items: center;
  }
  
  .add-btn, .edit-btn{
    background-color: rgba(255, 255, 255, 0.412);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }

  .add-btn:hover{
    background-color: rgb(0, 125, 203);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .edit-text{
    color: rgb(1, 1, 1);
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.412);
  }

  .edit-btn:hover{
    background-color: rgb(255, 66, 66);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .amenities{
    margin-top: 20px;
  }

  .amenities h4{
    color: white;
    font-size: 22px;
    margin-bottom: 10px; 
  }

  .amenity{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .each-amenity{
    display: flex;
    justify-content: left;
  }

  .add-new-opinion{
    margin-top: 5px;
  }

  .overall-rating p{
    font-size: 20px;
  }

  .overall-rating textarea{
      width: 50%;
  }

  .complete-rating{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .complete-rating p{
    margin-right: 20px;
    color: white;
    text-transform: capitalize;
  }

  .popup{
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: auto;
    height: 110vh;
    background-color: rgba(49, 49, 49, 0.941);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popup-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
  }

  .close-icon{
    position: absolute;
    top: 10px;
    right: 50px;
    cursor: pointer;
    font-size: 30px;
    height: 80vh;
    font-weight: bold;
  }

  .popup-modal label, textarea, button{
    color: black !important;
  }

  .popup .popup-modal label{
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .popup .popup-modal textarea{
    resize: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 80vw;
    margin-bottom: 20px;
  }

  .popup textarea:focus{
    outline: none;
  }

  .popup .popup-modal button{
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white !important;
    font-size: 20px;
  }

  .popup .popup-modal button:hover{
      background-color: rgba(0, 0, 0, 0.404);
      color: black !important;
      transition: all 0.3s ease-in;
  }

  .overlay{
    background-color: rgba(49, 49, 49, 0.8);
  }
} */

/* tablet viewport */
/* @media screen and (min-width: 768px) and (max-width: 1023px) {
  .reviews {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 40px 40px;
  }

  form {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid white;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.218);
    padding: 20px 20px;
    height: auto;
  }

  form label {
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
    width: 40%;
  }

  form textarea {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
  }

  .form-review {
    margin-bottom: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  form button {
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.412);
    color: white;
    font-weight: bold;
  }

  form button:hover {
    background-color: rgba(255, 255, 255, 0.481);
    color: white;
    transition: all 0.2s ease-in-out;
  }

  .btn-submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }

  .btn-submit button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.412);
    color: white !important;
    font-weight: bold;
  }

  .btn-submit button:hover {
    background-color: rgb(0, 176, 0);
    border: transparent;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  .btn-submit {
    display: flex;
    margin-top: 20px;
  }

  .popup-result{
    display: flex;
    align-items: center;
  }
  
  .add-btn, .edit-btn{
    border: transparent;
    background-color: rgba(255, 255, 255, 0.412);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 30%;
  }

  .add-btn:hover{
    background-color: rgb(0, 125, 203);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .edit-text{
    color: rgb(1, 1, 1);
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.412);
    width: 50%;
    overflow-x: scroll;
  }

  .edit-btn:hover{
    background-color: rgb(255, 66, 66);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .amenities{
    margin-top: 20px;
  }

  .amenities h4{
    color: white;
    font-size: 22px;
    margin-bottom: 10px; 
  }

  .amenity{
    padding-bottom: 10px;
  }

  .each-amenity{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
  }

  .add-new-opinion{
    margin-top: 5px;
  }

  .overall-rating p{
    font-size: 20px;
  }

  .overall-rating textarea{
      width: 50%;
  }

  .complete-rating{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .complete-rating p{
    margin-right: 20px;
    color: white;
    text-transform: capitalize;
  }

  .popup{
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: auto;
    height: 110vh;
    background-color: rgba(49, 49, 49, 0.941);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popup-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 50px 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
  }

  .close-icon{
    position: absolute;
    top: 35%;
    right: 26%;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
  }

  .popup-modal label, textarea, button{
    color: black !important;
  }

  .popup .popup-modal label{
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .popup .popup-modal textarea{
    resize: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .popup textarea:focus{
    outline: none;
  }

  .popup .popup-modal button{
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: transparent;
    background-color: black;
    color: white !important;
    font-size: 20px;
  }

  .popup .popup-modal button:hover{
      background-color: rgba(0, 0, 0, 0.404);
      color: black !important;
      transition: all 0.3s ease-in;
  }

  .overlay{
    background-color: rgba(49, 49, 49, 0.8);
  }
} */

/* desktop viewport */
@media screen and (min-width: 1024px) {
  .reviews {
    /* border: 2px solid black; */
    width: 100%;
    height: auto;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px 40px; */
    /* background: rgb(1, 27, 119);
    background: linear-gradient(
      90deg,
      rgba(1, 27, 119, 1) 31%,
      rgba(216, 41, 41, 1) 83%
    ); */
  }

  form {
    border: 2px solid white !important;
    width: 80%;
    height: auto;
   
    /* background-color: rgba(255, 255, 255, 0.218); */
    background-color: white;
border-radius: 8px;
    height: auto;
    padding: 25px;
    
    box-shadow: 0 0 20px #f0f0f0;
  }

  form label {
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
    /* border: 2px solid red; */
    width: 40%;
  }

  form textarea {
    padding: 10px;
    border-radius: 5px;
    /* border: transparent; */
    font-size: 16px;
    text-transform: capitalize;
    resize: none;
  }

  .form-review {
    /* border: 2px solid red; */
    margin-bottom: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  form button {
    cursor: pointer;
    color: #ffffff !important;
    padding: 10px 16px !important;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #00c194 !important;
    background-color: #00c194;
   

  }

  form button:hover {
    background-color: white !important;
    color: #00c194 !important;
    transition: all 0.2s ease-in-out;
    border: 1px solid #00c194 !important;

  }

  .btn-submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 20%;
  }

  .btn-submit button{
    color: black !important;
    background-color: rgb(61, 61, 61) !important;
  }

  .btn-submit button:hover{
    background-color: black !important;
  }

  /* show reviews */
  .show-reviews{
    border: 2px solid red;
    margin-top: 10px;
    padding: 10px;
    width: 60%;
    height: auto;
  }

  .reviews-list{
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 22px;
  }

  .btn-submit button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    color: white !important;
    background-color: rgb(0, 176, 0);
  }

  .btn-submit button:hover {
    background-color: rgb(74, 163, 74);
    transition: all 0.2s ease-in-out;
  }

  .btn-submit {
    display: flex;
    /* justify-content: center; */
    margin-top: 20px;
    /* width: 100%; */
  }
  .add-opinion-btn{

font-family: Nunito, sans-serif !important;

  }
  /* button, input, optgroup, select, textarea */
  input, select, textarea{
 
    outline: none !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    height: 45px !important;
    line-height: 1.2 !important;
    padding: 5px 12px !important;
    border-color: #e7e7e7 !important;
  }
  .overall-rating-input{
    display: flex;
  }

  .overall-rating-input input{
    margin-right: 20px;
    text-transform: capitalize;
    padding-left: 5px;
  }

  .popup-result{
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .add-btn, .edit-btn{
    /* border: transparent; */
    /* background-color: black;
    color: black !important; */
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 10vw;
  }

  .add-btn:hover{
    background-color: white;
    color: black !important;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .edit-text{
    color: rgb(1, 1, 1);
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.412);
    /* background-color: red; */
    /* width: 50%; */
    /* overflow-x: scroll; */
  }

  .edit-btn:hover{
    background-color: rgb(255, 66, 66);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .amenities{
    margin-top: 20px;
    /* border: 2px solid red; */
    /* width: 40%; */
  }

  .amenities h4{
    font-size: 22px;
    margin-bottom: 10px; 
  }

  .amenity{
    /* border: 2px solid black; */
    width: 100%;
    /* padding: 10px; */
    padding-bottom: 10px;
    /* justify-content: ; */
    /* align-items: center; */
  }

  .each-amenity{
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }

  .overall-rating p{
    font-size: 20px;
  }

  .complete-rating{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .complete-rating p{
    margin-right: 20px;
    text-transform: capitalize;
  }

  .popup{
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: auto;
    height: 110vh;
    background-color: rgba(49, 49, 49, 0.941);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popup-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* border: 2px solid red; */
    padding: 50px 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
  }

  .close-icon{
    position: absolute;
    /* top: 280px; */
    top: 35%;
    right: 26%;
    /* position: absolute;
    top: 10px;
    right: 160px; */
    cursor: pointer;
    font-size: 30px;
    /* border: 2px solid red; */
    /* height: 80vh; */
    font-weight: bold;
  }

  .popup-modal label, textarea, button{
    /* color: black !important; */
  }

  .popup .popup-modal label{
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .popup .popup-modal textarea{
    resize: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid black;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .popup textarea:focus{
    outline: none;
  }

  .popup .popup-modal button{
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    /* border: transparent; */
    background-color: black;
    color: white !important;
    font-size: 20px;
  }

  .popup .popup-modal button:hover{
      background-color: rgba(0, 0, 0, 0.404);
      color: black !important;
      transition: all 0.3s ease-in;
  }

  .overlay{
    background-color: rgba(49, 49, 49, 0.8);
  }
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
}
